<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mittweida</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masonry Grid</title>
    <link rel="stylesheet" href="Grid.css">
</head>
<body>
<header class="header-container">
    <img src="Cat.jpg" alt="Cat Profile Picture" class="profile-pic">
    <h1>Mittweida</h1>

    <div class="grid-container">
        <div class="box">
            <img src="caffee.jpg" alt="Caffe picture">
            <h2>This is a Title</h2>
            <p> Cat cafes, originating in Taiwan and flourishing in Japan, offer a unique and popular experience that blends relaxation,
                socialization, and the opportunity to interact with cats
            </p>
        </div>

        <script>
            function toggleDescription(box) {
                box.classList.toggle("description-active");
            }
        </script>


    </div>
</header>
</body>
</html>
